<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Inventario de Insumos
    </ion-title>
    <ion-icon name="close-circle-outline" slot="end" class="closeIcon" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <table>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Unidad de medida</th>
    </tr>
    <tr *ngFor="let insumo of insumos">
      <td>{{insumo.name}}</td>
      <td>{{insumo.quantity.toFixed(2)}}</td>
      <td>{{insumo.unit}}</td>
    </tr>
  </table>
  
</ion-content>
