<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Inventario de Insumos
    </ion-title>
    <ion-icon name="close-circle-outline" slot="end" class="closeIcon" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <table>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Unidad de medida</th>
    </tr>
    <tr *ngFor="let insumo of insumos">
      <td>{{insumo.name}}</td>
      <td>{{insumo.quantity}}</td>
      <td>{{insumo.unit}}</td>
    </tr>
    <!-- <tr>
      <td>Leche</td>
      <td>55</td>
      <td>Libras</td>
    </tr>
    <tr>
      <td>Leche espumada</td>
      <td>60</td>
      <td>Libras</td>
    </tr>
    <tr>
      <td>Espresso</td>
      <td>50</td>
      <td>Libras</td>
    </tr>
    <tr>
      <td>Chai</td>
      <td>50</td>
      <td>Libras</td>
    </tr>
    <tr>
      <td>Azucar</td>
      <td>50</td>
      <td>Libras</td>
    </tr>
    <tr>
      <td>Jarabe</td>
      <td>50</td>
      <td>Libras</td>
    </tr> -->
  </table>
  
</ion-content>
