<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Editar Producto
    </ion-title>
    <ion-icon name="close-circle-outline" slot="end" class="closeIcon" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-grid class="formGrid">

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Nombre:
        </ion-col>
        <ion-col size="9" class="colInput">
          <input type="text" class="input" [(ngModel)]="newProduct.name">
        </ion-col>
      </ion-row>

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Categoría:
        </ion-col>
        <ion-col size="9" class="colInput">
          <select class="selectOption" [(ngModel)]="newProduct.category">
            <option value="Bebida">Bebida</option>
            <option value="Comida">Comida</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Precio:
        </ion-col>
        <ion-col size="9" class="colInput">
          <input type="number" class="input" [(ngModel)]="newProduct.price">
        </ion-col>
      </ion-row>

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Insumos:
        </ion-col>
      </ion-row>

      <ion-row class="insumoRow" *ngFor="let item of newProduct.insumos; index as i">
        <ion-col>
          <input type="text" class="inputInsumo" readonly value="{{newProduct.insumos[i].name}}">
        </ion-col>
        <ion-col>
          <input type="number" placeholder="cantidad" class="inputQuantity" [(ngModel)]="item.quantity">
        </ion-col>
        <ion-col>
          <input type="text" class="inputInsumo" readonly value="{{newProduct.insumos[i].unit}}">
        </ion-col>
      </ion-row>

      <ion-row class="buttonRow">
        <ion-button class="saveButton" (click)="saveData()">Guardar</ion-button>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>

