.closeIcon{
    font-size: 30px;
    margin-right: 15px;
    color: #b30000;
}
.inputTitle{
    display: flex;
    align-items: center;
}
.inputTitle2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    margin-top: 15px;
}
.formGrid{
    margin-top: 10px;
    margin-bottom: 15px;
}
.formRow{
    padding: 0px;
}
.colInput{
    display: flex;
    justify-content: center;
}
.input{
    height: 30px;
    width: 100%;
    border-color: gray;
    border-style: solid;
  border-width: 1px;
}
.selectOption{
    height: 30px;
    width: 100%;
    border-color: gray;
}
.selectInsumo{
    height: 30px;
    width: 100%;
}
.card{
    min-height: 90%;
}
.cameraDiv{
    border-radius: 10px;
    width: 180px;
    height: 180px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cameraRow{
    margin-bottom: 15px;
}
.cameraCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cameraIcon{
    font-size: 50px;
}
.inputInsumo{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}
.inputQuantity{
    width: 100%;
    height: 20px;
    border: solid 1px lightgray;
}
.insumoRow{
    border: solid 1px lightgray; 
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.buttonRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.saveButton{
    text-transform: none;
}