.cardDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.beveragesIcon{
    font-size: 60px;
    font-weight: 50;
}
.ripple-parent {
    position: relative;
    overflow: hidden;
}
.salesCard{
    height: 60%;
}
.buttonsRow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryButton{
    text-transform: none;
    color: gray;
}
.listDiv{
    height: 300px; 
    overflow-y: auto;
    padding: 0 0 20px 0;
}
