<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ventas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <ion-card class="salesCard">
    <ion-card-header>
      <ion-card-title>Vender</ion-card-title>
    </ion-card-header>

    <ion-row class="buttonsRow">
      <ion-button color="none" class="categoryButton">
        Bebidas
        <ion-icon name="cafe-outline" slot="end"></ion-icon>
      </ion-button>&nbsp;
      <ion-button color="none" class="categoryButton">
        Comida
        <ion-icon name="fast-food-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-searchbar placeholder="Buscar producto"></ion-searchbar>

    <div class="listDiv">
      <ion-list *ngIf="status == 'full'">
        <ion-item button (click)="getData(item); presentModalProductSale()" *ngFor="let item of productos">
          <ion-icon name="list-circle-outline" slot="start"></ion-icon>
          <ion-label>{{item.name}}</ion-label>
          <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="status == 'empty'" class="empty">
        No hay productos registrados.
      </ion-list>
      <ion-list *ngIf="status == waiting">
        <ion-progress-bar type="indeterminate" class="progressBar"></ion-progress-bar>
      </ion-list>
    </div>

  </ion-card>

  <ion-card class="ion-activatable ripple-parent" (click)="presentModal()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
      <ion-card-title>Historial de ventas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="cardDiv">
        <ion-icon name="calendar-outline" class="beveragesIcon"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
