.cardDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.beveragesIcon{
    font-size: 80px;
    font-weight: 50;
}
.ripple-parent {
    position: relative;
    overflow: hidden;
  }