.createIcon{
    font-size: 25px;
}
.descriptionCol{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.listTitle{
    font-size: 20px;
}
.divTableView{
    padding: 3px;
}
.viewTableRow{
    display: flex;
    justify-content: center;
}
.viewTableButton{
    text-transform: none;
    font-size: 11px;
}