<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Insumos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-activatable ripple-parent" (click)="presentModal($event)">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-icon name="create-outline" class="createIcon"></ion-icon>
        </ion-col>
        <ion-col class="descriptionCol">
          Crear insumo
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label class="listTitle">Inventario de Insumos</ion-label>
      <ion-icon name="eye-outline" class="productsIcon" (click)="presentModalTable($event)"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="download-outline" class="productsIcon" (click)="presentAlert()"></ion-icon>
    </ion-item>
  
    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-list *ngIf="status == 'with data'">
      <ion-item button (click)="getData(insumo); presentPopover($event)" *ngFor="let insumo of insumos">
        <ion-icon name="list-circle-outline" slot="start"></ion-icon>
        <ion-label>{{insumo.name}}</ion-label>
        <ion-label slot="end" class="detailLabel">{{insumo.quantity}}</ion-label>
        <ion-label slot="end" class="detailLabel">{{insumo.unit}}</ion-label>
        <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="status == 'without data'" class="withoutData">
      No hay insumos registrados.
    </ion-list>
    <ion-list *ngIf="status == waiting">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-list>

  </ion-card>
</ion-content>
