<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Insumos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-activatable ripple-parent" (click)="presentModal($event)">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-icon name="create-outline" class="createIcon"></ion-icon>
        </ion-col>
        <ion-col class="descriptionCol">
          Crear insumo
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label class="listTitle">Lista de insumos</ion-label>
      <ion-icon name="download-outline"></ion-icon>
    </ion-item>
  
    <ion-row class="viewTableRow">
      <ion-button color="medium" class="viewTableButton" (click)="presentModalTable($event)">Ver en tabla</ion-button>
    </ion-row>
  
    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-item class="ion-activated" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" slot="start"></ion-icon>
      <ion-label>Café</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>

    <ion-item class="ion-activated" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" slot="start"></ion-icon>
      <ion-label>Café</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>

    <ion-item class="ion-activated" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" slot="start"></ion-icon>
      <ion-label>Café</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>

    <ion-item class="ion-activated" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" slot="start"></ion-icon>
      <ion-label>Café</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>

    <ion-item class="ion-activated" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" slot="start"></ion-icon>
      <ion-label>Café</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>

    <ion-item class="ion-activated" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" slot="start"></ion-icon>
      <ion-label>Café</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>

    <ion-item class="ion-activated" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" slot="start"></ion-icon>
      <ion-label>Café</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>
  
    
  </ion-card>
</ion-content>
