.createIcon{
    font-size: 25px;
}
.descriptionCol{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.productsIcon{
    border: 1px solid gray; 
    padding: 4px; 
    border-radius: 5px;
}
.listTitle{
    font-size: 20px;
}