<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prductos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-activatable ripple-parent" (click)="presentModal($event)">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-icon name="create-outline" class="createIcon"></ion-icon>
        </ion-col>
        <ion-col class="descriptionCol">
          Crear producto
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-activatable ripple-parent">
    <ion-item lines="none">
      <ion-label class="listTitle">Lista de Productos</ion-label>
      <ion-icon name="eye-outline" class="productsIcon" (click)="presentModalTable($event)"></ion-icon>&nbsp;&nbsp;
      <ion-icon name="download-outline" class="productsIcon" (click)="presentAlert()"></ion-icon>
    </ion-item>

    <ion-row class="buttonsRow">
      <ion-button color="none" class="categoryButton" (click)="filterByValue('name', '')">
        Todos
        <ion-icon name="list-outline" slot="end"></ion-icon>
      </ion-button>&nbsp;
      <ion-button color="none" class="categoryButton" (click)="filterByValue('category', 'Bebida')">
        Bebidas
        <ion-icon name="cafe-outline" slot="end"></ion-icon>
      </ion-button>&nbsp;
      <ion-button color="none" class="categoryButton" (click)="filterByValue('category', 'Comida')">
        Comida
        <ion-icon name="fast-food-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-searchbar placeholder="Buscar" (ionChange)="search($event)"></ion-searchbar>
  
    <ion-list *ngIf="status == 'with data'">
      <ion-item button (click)="getProductData(item); presentModalProductDetail()" *ngFor="let item of products | filtro: textToSearch: keyToFilter">
        <ion-icon name="list-circle-outline" slot="start"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
        <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="status == 'without data'" class="withoutData">
      No hay productos registrados.
    </ion-list>
    <ion-list *ngIf="status == waiting">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-list>
  </ion-card>
  

</ion-content>
