<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prductos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-activatable ripple-parent" (click)="presentModal($event)">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-icon name="create-outline" class="createIcon"></ion-icon>
        </ion-col>
        <ion-col class="descriptionCol">
          Crear producto
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
