.closeIcon{
    font-size: 30px;
    margin-right: 15px;
    color: rgb(179, 0, 0);
}
.inputTitle{
    display: flex;
    align-items: center;
}
.formGrid{
    margin-top: 10px;
    margin-bottom: 15px;
}
.formRow{
    padding-top: 5px;
    padding-bottom: 5px;
}
.input{
    height: 30px;
}