<ion-grid class="grid">
<ion-row class="closeIconRow">
  <ion-icon name="close-circle-outline" class="closeIcon" (click)="dismissModal()"></ion-icon>
</ion-row>
  <ion-row>
    <ion-col class="title">
      {{name}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Categoría:</ion-col>
    <ion-col size="8">{{category}}</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Insumos:</ion-col>
    <ion-col size="8">
      <ion-row *ngFor="let item of insumos">
        • {{item.name}} ({{item.quantity}} {{item.unit}})
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Cantidad:</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="buttonsCol">
      <ion-button color="danger" (click)="substraction()">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
      <ion-button color="none" class="number">
        {{number}}
      </ion-button>
      <ion-button (click)="addition()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>Precio:</ion-col>
    <ion-col size="8">Q&nbsp;{{(price * number).toFixed(2)}}</ion-col>
  </ion-row>

  <ion-row>
   <ion-col class="sellCol">
    <ion-button class="saleButton" *ngIf="originalInsumos.length > 0" color="success" (click)="presentAlertConfirm()">
      Vender
    </ion-button>
   </ion-col> 
  </ion-row>
</ion-grid>
