<ion-grid class="grid">
  <ion-row class="titleRow">
    <ion-col class="title" size="10.5">
      Detalles del insumo      
    </ion-col>
    <ion-col>
      <ion-icon name="close-circle-outline" class="closeIcon" (click)="dismissModal()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="itemRow">
    <ion-col>Nombre</ion-col>
    <ion-col>Café</ion-col>
  </ion-row>
  <ion-row class="itemRow">
    <ion-col>Cantidad</ion-col>
    <ion-col>50</ion-col>
  </ion-row>
  <ion-row class="itemRow">
    <ion-col>Unidad de medida</ion-col>
    <ion-col>Libras</ion-col>
  </ion-row>
  <ion-row class="buttonRow">
    <ion-button class="editButton">Editar</ion-button>
  </ion-row>
</ion-grid>
