<ion-grid>
  <ion-row class="titleRow">
    <ion-col class="titleItem">Nombre</ion-col>
    <ion-col class="titleItem2">Cantidad</ion-col>
    <ion-col class="titleItem2">Unidad</ion-col>
    <ion-col class="titleItem2">Asignado</ion-col>
  </ion-row>
  <ion-row class="titleRow">
    <ion-col>{{name}}</ion-col>
    <ion-col class="item2">{{quantity.toFixed(2)}}</ion-col>
    <ion-col class="item2">{{unit}}</ion-col>
    <ion-col class="item2">{{status}}</ion-col>
  </ion-row>
  <ion-row class="buttonRow">
    <ion-button color="danger" class="editButton" (click)="dismiss(); presentAlertConfirm()">Eliminar</ion-button> &nbsp;
    <ion-button class="editButton" (click)="dismiss(); presentModalEditInsumo()">Editar</ion-button>
  </ion-row>
</ion-grid>
