<ion-grid>
  <ion-row class="titleRow">
    <ion-col size="5" class="titleItem">Nombre</ion-col>
    <ion-col size="3" class="titleItem2">Cantidad</ion-col>
    <ion-col size="4" class="titleItem2">U. medida</ion-col>
  </ion-row>
  <ion-row class="titleRow">
    <ion-col size="5">{{name}}</ion-col>
    <ion-col size="3" class="item2">{{quantity}}</ion-col>
    <ion-col size="4" class="item2">{{unit}}</ion-col>
  </ion-row>
  <ion-row class="buttonRow">
    <ion-button color="danger" class="editButton" (click)="dismiss(); presentAlertConfirm()">Eliminar</ion-button> &nbsp;
    <ion-button class="editButton" (click)="dismiss(); presentModalEditInsumo()">Editar</ion-button>
  </ion-row>
</ion-grid>
