<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Crear Producto
    </ion-title>
    <ion-icon name="close-circle-outline" slot="end" class="closeIcon" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-grid class="formGrid">

      <!-- <ion-row class="cameraRow">
        <ion-col class="cameraCol">
          <div class="cameraDiv">
            <ion-icon name="camera-outline" class="cameraIcon"></ion-icon>
          </div>
        </ion-col>
      </ion-row> -->

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Nombre:
        </ion-col>
        <ion-col size="9" class="colInput">
          <input [(ngModel)]="newProduct.name" type="text" class="input">
        </ion-col>
      </ion-row>

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Categoría:
        </ion-col>
        <ion-col size="9" class="colInput">
          <select class="selectOption" [(ngModel)]="newProduct.category">
            <option value="Bebida">Bebida</option>
            <option value="Comida">Comida</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Precio:
        </ion-col>
        <ion-col size="9" class="colInput">
          <input [(ngModel)]="newProduct.price" type="number" class="input">
        </ion-col>
      </ion-row>

      <ion-row class="formRow">
        <ion-col class="inputTitle">
          Insumos:
        </ion-col>
        <ion-col size="9" *ngIf="dropdownList.length != 0">

          <ng-multiselect-dropdown
            [placeholder]="'Seleccionar insumos'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            class="multiselect"
          >
          </ng-multiselect-dropdown>
        
        </ion-col>
      </ion-row>

      <ion-row class="formRow">
        <ion-col class="inputTitle2" size="12" *ngIf="selectedInsumos.length != 0">
          Configuración de insumos
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedInsumos.length != 0">
        <ion-col>
          Ingresar la cantidad:
        </ion-col>
      </ion-row>

      <ion-row class="insumoRow" *ngFor="let item of selectedInsumos; index as i"> 
        <ion-col>
          <input type="text" class="inputInsumo" readonly value="{{item.name}}">
        </ion-col>
        <ion-col>
          <input [(ngModel)]="insumosArray[i]" type="number" placeholder="cantidad" class="inputQuantity">
        </ion-col>
        <ion-col>
          <input type="text" class="inputInsumo" readonly value="{{item.unit}}">
        </ion-col>
      </ion-row>

      <ion-row class="buttonRow">
        <ion-button class="saveButton" (click)="test(); createProduct()">Guardar</ion-button>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>

